/* Universal Styles */
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

/* Header Section */

header {
    height: 64px;
    z-index: 1;
    border-bottom: 1px solid seashell;
    position: fixed;
    align-items: center;
    background-color: white;
    width: 100%;
}


header img { 
    height: 2em;
    padding-left: 24px;
    
}

.colmar {
    font-weight: 700;
    font-size: 2em;
    color: #3b3a30;
  }

.academy {
    font-weight: 700;
    font-size: 2em;
    color: #b2c2bf;
}

nav {
    text-align: right;
    flex-grow: 1;
    padding-right: 8px;
}


nav span {
    display: inline-block;
    padding-right: 1em;
}
   

nav a {
    color: #3b3a30;
    text-decoration: none;
    transition-duration: 750ms;
}

a:hover {
     color: greenyellow;
}

/* Banner Section */

.main {
    width: 1200px;
    padding-top: 4.375em;
    margin: auto;
}

#banner .content {
    background-color: lightgray;
    text-align: center;
    margin: 0;
    align-items: center;
    
}

#banner img {
    padding: 2em 1.5em;
    float: left;
    width: 60%;
}

#banner h1 {
    font-weight: 700;
    color: #3b3a30;
}

#banner h2 {
    color: #3b3a30;
    font-weight: 500;
}

