/* Universal Styles */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.flex-container .content{
    display: flex;   
}

h1,h2,h3,p {
    color: #3b3a30;
}

/* Header Section */

header {
    height: 64px;
    z-index: 1;
    border-bottom: 1px solid seashell;
    position: fixed;
    align-items: center;
    background-color: white;
    width: 100%;
}


header img { 
    height: 2em;
    padding-left: 24px;
    
}

.colmar {
    font-weight: 700;
    font-size: 2em;
    color: #3b3a30;
  }

.academy {
    font-weight: 700;
    font-size: 2em;
    color: #b2c2bf;
}

nav {
    text-align: right;
    flex-grow: 1;
    padding-right: 8px;
}


nav span {
    display: inline-block;
    padding-right: 1em;
}
   

nav a {
    color: #3b3a30;
    text-decoration: none;
    transition-duration: 750ms;
}

nav a:hover {
     color: greenyellow;
}

/* Banner Section */

.main {
    padding-top: 4.375em;
    margin: auto;
}

.flex-container .caption {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#banner .content {
    background-color: lightgray;
    text-align: center;
    align-items: center;
    margin: 0;
    width: 100%;
    
}

#banner img {
    padding: 2em 1.5em;
    float: left;
    width: 60%;
}

#banner h1 {
    font-weight: 700;
    color: #3b3a30;

}

#banner h2 {
    color: #3b3a30;
    font-weight: 500;
    margin-bottom: 2.8em;
}

#banner a {
    background-color: #3b3a30;
    color: white;
    font-size: 1.3em;
    border-radius: 3px;
    text-align: center;
    padding: 0.5em 5em;
    text-decoration: none;
}

/* Information Section*/

#information .flex-container {
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    
}

#information .content {
    width: 100%;
}

#information .quote {
   
    padding: 2em 1.5em;
}

#information img {
    width:60%;
}

#information h1{
    padding-top: 2rem;
    padding-bottom: 1.5rem; 
    color: #3b3a30;
}

#information q {
    color: #484f4f;
    
}

#information .quote p{
    padding-top: 2em;
    padding-bottom: 2em;
    color: #454140;
}

.flex-container .orientation {
    /*width: 40%;*/
    display: flex;
    flex-direction: column;
    border-left: 0.3px solid rgb(206, 202, 202)
}

.side-content {
     display: flex;
     flex-direction: column;
     width: 100%;
}

.side-content img {
    width: 35%;
    float: left;
    padding: 1em;
}

.contents-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

.lecture {
    background-color: lightgray;
}


.contents-text h3 {
    padding-bottom: 0.5em;
    margin: 0;
}

.contents-text p {
    padding-top: 0.5em;
    margin: 0;
}

.contents-text a {
    text-decoration: none;
    color: #5b9aa0;
    padding-top: 0.5em;
}

/*.box {
    width: 40%;
    border-left: 0.3px solid rgb(212, 206, 206);
    margin: 0;
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
}

.box img {
    width: 100%;
    padding: 1em;
}

.contents-text h3 {
    padding-bottom: 0.5em;
}

.contents-text p {
    padding-top: 0.5em;
}*/

/* Course Section*/

#course { 
    background-color: lightgray;
}

#course h1 {
    padding: 1em 0 1em 0;
    text-align: center;
    color: #3b3a30;
    margin: 0;
}

.contents-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contents-box {
	margin-bottom: 2rem;
	width: 26%;
	background-color: #f0f0f0;
}

.contents-box img {
	display: block;
	margin-bottom: 1rem;
	width: 100%;
	height: auto;
}

.contents-box h3 {
    padding: 1rem 1rem 0.5rem 1rem;
    margin: 0;
    
}

.contents-box p { 
    padding: 0 1rem 0.5rem 1rem;
    margin: 0;
}

#course .contents-text {
    padding: 1rem;
}



@media only screen and (max-width: 768px){
	.contents-wrap {
		flex-direction: column;
	}

	.contents-box {
		width: 100%;
	}
}

/*Thesis section*/

#thesis h1 {
    padding: 1em 0 1em 0;
    text-align: center;
    color: #3b3a30;
    margin: 0;
}

#thesis video {
    width: 60%;
    padding: 1.5px;
} 


.flex-container .column {
    display: flex;
    flex-direction: column;
    width: 40%;

}

#thesis h2 {
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}

#thesis p {
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    display: flex;
    white-space: normal;
}

#thesis img {
    display: block;
    width: 100%;
    height: auto;

}

.flex-container .fisma {
    background-color: lightgray;
}

/* Footer */

footer {
    padding: 1rem 1.5rem;
    width: 100%;
    margin: 0;
    border-top: 0.3px solid rgb(233, 227, 227)

}

footer nav span {
    display: inline-block;
    align-items: center;
}

footer nav {
    text-align: right;
    
}

footer a {
    text-decoration: none;
    align-items: center;
}

