/* Universal Styles */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.flex-container .content{
    display: flex;   
}

h1,h2,h3,h5,p {
    color: #3b3a30;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: bold;
  }

  p {
    line-height: 1.35;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding-left: 1rem;
    color: #01161E;
    font-size: 1.25rem;
  }

/* Header Section */

header {
    height: 64px;
    z-index: 1;
    border-bottom: 1px solid seashell;
    position: fixed;
    align-items: center;
    background-color: white;
    width: 100%;
}

header img { 
    height: 2rem;
    padding-left: 1.5rem;
    
}

.colmar {
    font-weight: 700;
    font-size: 2em;
    color: #3b3a30;
  }

.academy {
    font-weight: 700;
    font-size: 2em;
    color: #b2c2bf;
}

nav {
    text-align: right;
    flex-grow: 1;
    padding-right: 8px;
}


nav span {
    display: inline-block;
    padding-right: 1em;
}
   

nav a {
    color: #3b3a30;
    text-decoration: none;
    transition-duration: 550ms;
    font-weight: 700;
}

nav a:hover {
     color: rgb(253, 121, 33);
}

.mobile {
    display: none;
}

/* Banner Section */

.main {
    padding-top: 4.375em;
    margin: auto;
}

.flex-container .caption {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#banner .content {
    background-color: lightgray;
    text-align: center;
    align-items: center;
    margin: 0;
    width: 100%;
    
}

#banner img {
    padding: 2em 1.5em;
    float: left;
    width: 60%;
}

#banner h1 {
    font-weight: 700;
    color:rgb(253, 121, 33);

}

#banner h2 {
    color: #3b3a30;
    font-weight: 500;
    margin-bottom: 2.8em;
}

#banner a {
    background-color: rgb(253, 121, 33);
    color: white;
    font-size: 1.3em;
    border-radius: 3px;
    text-align: center;
    padding: 0.5em 5em;
    text-decoration: none;
}

#banner a:hover {
    background-color: rgb(238, 255, 6);
    color: rgb(252, 252, 252);
    transition-duration: 550ms;
}

/* Large container*/

section {
    width: auto 0;
  }
  

.multi-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .main-pic-box {
    width: 60%;
    padding: 2rem 1.5rem;
  }
  
  .main-pic-box img, video {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  
  #mobile-pic {
    display: none;
  }

  /* Small container*/

  .stacked-content-box {
    display: flex;
    flex-flow: column;
    vertical-align: top;
    margin-top: 1rem;
    width: 35%;
  }

  .content-box {
      margin: 0 0 2.5rem 0;
  }
  
  .content-box img {
    width: 35%;
    margin: 3.5%;
    vertical-align: middle;
    display: inline-block;
  }

  .side-text {
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
    vertical-align: middle;
  }
  
  .content-box .side-text {
    width: 56%;
  }
  
  .content-box a {
    color: #FF7954;
  }
  
  .content-box .side-text h3,p {
      margin: 0;
  }

/* Course Section*/

.course { 
    background-color: lightgray;
}

.course h1 {
    padding: 1em 0 1em 0;
    text-align: center;
    color: #3b3a30;
    margin: 0;
}

.course h3:hover {
    color: #FF7954; 
}

.contents-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    padding: 0 4.5rem 2rem 4.5rem;
}

.contents-box {
	margin-bottom: 2rem;
	width: 32%;
    background-color: #f0f0f0;
    
}

.contents-box img {
	display: block;
	margin-bottom: 1rem;
	width: 100%;
	height: auto;
}

.contents-box h3 {
    padding: 1rem 1rem 0.5rem 1rem;
    margin: 0;
    
}

.contents-box p { 
    padding: 0 1rem 0.5rem 1rem;
    margin: 0;
}

.course .contents-text {
    padding: 1rem;
}



@media only screen and (max-width: 768px){
	.contents-wrap {
		flex-direction: column;
	}

	.contents-box {
		width: 100%;
	}
}

/*Thesis section*/

.thesis h1 {
    padding: 1em 0 1em 0;
    text-align: center;
    color: #3b3a30;
    margin: 0;
}

.thesis h2 {
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}

.thesis p {
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    display: flex;
    white-space: normal;
}


/* Footer */

footer {
    padding: 1rem 1.5rem;
    width: 100%;
    margin: 0;
    border-top: 0.3px solid rgb(233, 227, 227);
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 4rem;

}

footer nav {
    align-self: auto;
    padding-top: 1rem;
  }
  
  footer span {
    padding-left: 1rem;
  }

  footer a {
      font-size:0.8rem;
  }


  /* Mobile Settings */

  @media only screen and (max-width:470px) {

    /* Do Not Display */

    footer nav, .desktop, .logo, .information .main-pic-box, 
    .thesis .stacked-content-box, .thesis p, .thesis h3, .course-box img,
    .course-box p, #pc-pic {
        display: none;
    }

    /* Mobile Header */
    .mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile img {
        width: auto;
        height: 90%;
    }

    /* Mobile Start Banner */

    .start {
        width: 100%;
        align-self: center;
    }

    #banner img {
        width: 90%;
        padding: 2rem 1rem;
        margin: auto;
    }






  }